body {
    padding-top: 70px;
}

.clearfix {
    overflow: auto;
}

.content {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.comments {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.comment {
    border: .1rem solid #d1d1d1;
    margin-top: 2.0rem;
    padding: 2.0rem;
}

.content_comment {
    font-size: 1.0rem;
    margin: 1rem;
}

.delete_comment {
    display: inline-block;
    margin-left: 1rem;
    float: right;
}

.edit_comment {
    display: inline-block;
    margin-left: 1rem;
    float: right;
}

.center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}

